<html>
<head>
	<title>{{header.title}}</title>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
	<nav>
		<ul>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
<form method="post" action="create">
	{{#error}}
		<div class="error">
			{{this}}
		</div>
	{{/error}}
	<dl>
		<dt>Question</dt>
		<dd><textarea type="text" name="issue">{{form.issue}}</textarea></dd>
		<dt>Tags</dt>
		<dd>
			<input type="password" name="password" value="{{form.tags}}" pattern="^[\w-;]+$" />
			<div class="form-field-infos">Séparer les tags par un point-virgule</div>
		</dd>
	</dl>
	<button type="submit">Ajouter</button>
</form>
</section>
</body>
</html>