<html>
<head>
	<title>{{header.title}}</title>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
	<nav>
		<ul>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">

</section>
</body>
</html>