<html>
<head>
	<title>{{header.title}}</title>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
	<nav>
		<ul>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
<form method="post" action="search">
	{{#error}}
		<div class="error">
			{{this}}
		</div>
	{{/error}}
	<dl>
		<dt>Tag</dt>
		<dd><input type="text" name="tag" value="{{form.tag}}" /></dd>
	</dl>
	<button type="submit">Rechercher</button>
</form>
</section>
</body>
</html>